<!DOCTYPE html>
<html>
	<body>
		<nav class="navbar navbar-default" th:fragment="navFrag">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}" href="index.html">한국IT여성기업인협회</a>
		    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}" href="index.html">home</a></li>
					<li><a th:href="@{/intro}" href="index.html">intro</a></li>
					<li><a th:href="@{/dept/}" href="dept/list.html">dept</a></li>
					<li><a th:href="@{/login/}" href="login/login.html">login</a></li>
					<li><a th:href="@{/upload/}" href="file.html">upload</a></li>
				</ul>
			</div>
		  </div>
		</nav>
	</body>
</html>