<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" href='/webjars/bootstrap/3.4.1/css/bootstrap.min.css'>
		<script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}" src="/webjars/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}" src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" th:replace="~{layout/menu :: navFrag}">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="index.html">한국IT여성기업인협회</a>
		    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html">home</a></li>
					<li><a href="dept/list.html">dept</a></li>
					<li><a href="login/login.html">login</a></li>
				</ul>
			</div>
		  </div>
		</nav>	
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				<!-- begin -->
				<h2>업로드</h2>
				<form action="upload" method="post" enctype="multipart/form-data">
					<div>
						<input name="name" placeholder=""/>
					</div>					
					<div>
						<input type="file" name="file"/>
					</div>					
					<div>
						<button>업로드</button>
					</div>					
				</form>
				
				<!-- end -->
			  </div>
			</div>
			<div class="row" th:replace="~{layout/footer :: footerFrag}">
			  <div class="col-md-12">
				<address>
				  <strong>©한국IT여성기업인협회 Inc. All Rights Reserved.</strong><br>
				  (06130) 서울 강남구 테헤란로 7길 22, 한국과학기술회관 1관 303호<br>
				  <abbr title="Phone">P:</abbr> 02-6956-9523, 02-6956-9540
				</address>
			  </div>
			</div>
		</div>	
		
	</body>
</html>