	#content{}
	#content h2{
		text-align: center;
	}
	#content form{
		width: 500px;
		margin: 0px auto;
	}
	#content form>div{
		margin-bottom: 10px;
	}
	#content form>div>label{
		display: inline-block;
		width: 100px;
	}
	#content form>div>input{
		width: 400px;
		box-sizing: border-box;
	}
	#content form>div>textarea{
		width: 100%;
		box-sizing: border-box;
		height: 200px;
	}
	#content form>div>button{
		width:31%;	
		box-sizing: border-box;
	}
	.err{
		text-align: right;
		color:red;
		font-style: italic;
		font-size: 0.8em;
	}