*{
	margin: 0px;
	padding: 0px;
}
body>div{
	width: 800px;
	margin: 0px auto;
}
#header{
	
}
#header>h1{
	background-image: url("http://www.kibwa.org/data/skin/default/images/da_image/hd_logo.png");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	text-indent: -999px;
}
#menu{
	height: 40px;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
#menu>ul{
	list-style: none;
	width: 400px;
}
#menu>ul>li{
	margin-top: 5px;
	width: 100px;
	float: left;
	border-left: 5px solid gray;
	box-sizing: border-box;
}
#menu>ul>li>a{
	display: block;
	height: 30px;
	color: gray;
	text-decoration: none;
	text-indent: 10px;
}