<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<nav>
			<a href="/">home</a>
			<a href="/dept/">dept</a>
		</nav>
		<h1>list page</h1>
		<table>
			<thead>
				<tr>
					<th>deptno</th>
					<th>dname</th>
					<th>loc</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="bean:${list}" th:object="${bean}">
					<tr>
						<td><a th:text="*{deptno}" href="#"></a></td>
						<td><a th:text="*{dname}"href="#"></a></td>
						<td><a th:text="*{loc}" href="#"></a></td>
					</tr>
				</th:block>
				<tr th:text="${''}">
					<td th:text="*{deptno}"></td>
					<td th:text="*{dname}"></td>
					<td th:text="*{loc}"></td>
				</tr>
		</table>
		<p><a href="add.html">입력</a><p>
	</body>
</html>