<!DOCTYPE html>
<html>
	<head th:replace="~{layout/frame :: headFrag}">
		<meta charset="utf-8">
		<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" href='/webjars/bootstrap/3.4.1/css/bootstrap.min.css'>
		<script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}" src="/webjars/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}" src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav th:replace="~{layout/frame :: navFrag}"></nav>
		<div class="container">
			<div class="row">
				<h2 class="page-header">입력 페이지</h2>
				<form action="list.html" th:action="add" method="post" class="form">
					 <div class="form-group">
						<label>deptno</label><input name="deptno" class="form-control" palceholder="deptno"/>
					 </div>
					 <div class="form-group">
						<label>dname</label><input name="dname" class="form-control" palceholder="dname"/>
					 </div>
					 <div class="form-group">
						<label>loc</label><input name="loc" class="form-control" palceholder="loc"/>
					 </div>
					 <div class="form-group">
						<button type="submit" class="btn btn-primary">입력</button>
						<button type="reset" class="btn btn-primary">취소</button>
						<button type="button" class="btn btn-primary" onclick="history.back();">뒤로</button>
					 </div>
				</form>
			</div>
			<div class="row" th:replace="~{layout/frame :: footerFrag}"></div>
		</div>
	</body>
</html>
