<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webapplication</display-name>
  
	<servlet>
		<servlet-name>framework</servlet-name>
		<servlet-class>com.myframework.FrontController</servlet-class>
		<init-param>
			<param-name>/main</param-name>
			<param-value>com.my.controller.MainController</param-value>
		</init-param>
		<init-param>
			<param-name>/index</param-name>
			<param-value>com.my.controller.IndexController</param-value>
		</init-param>
		<init-param>
			<param-name>/bbs/list</param-name>
			<param-value>com.my.controller.ListController</param-value>
		</init-param>
		<init-param>
			<param-name>/bbs/insert</param-name>
			<param-value>com.my.controller.InsertController</param-value>
		</init-param>
		<init-param>
			<param-name>/bbs/add</param-name>
			<param-value>com.my.controller.AddController</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>framework</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>